/* コード */
p code {
    background-color: #F2F2F2;
    margin: 5px;
    padding: 3px;
}

li code {
    background-color: #F2F2F2;
    margin: 5px;
    padding: 3px;
}

pre code {
    background-color: #F2F2F2 !important;
    padding: 10px;
}

/* テーブル */
table {
    border-collapse: collapse;
    margin: 1em;
}

th,
td {
    border: solid 1.5px;
    border-color: rgb(152, 152, 152);
    padding: 5px;
}

th {
    background-color: aliceblue;

}

h1,
h2 {
    padding: 0.125em 0.5em;
    border-left: solid 5px #0D6EFD;
}

blockquote {
    border-left: solid 5px #0D6EFD;
    margin: 1em;
    padding: 0.25em;
    background-color: #F2F2F2;
}