body {
    /*background-color: #0D6EFD;*/
    background-color: #4b78c1;
    font-weight: bold;
    padding-top: 20px;
}

.login_form {
    margin: 0 auto;
    padding: 20px;

    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_btn {
    padding-left: 70px;
    padding-right: 70px
}

.image_icon {
    align-items: center;
}

.form-label {
    color: #064bb1 !important;
}