{% extends "layout.html" %}

{% block title %}{{ seminar.title }}{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block content %}
<h1>{{ seminar.title }}</h1>
<p>チャプターを選択してください。</p>
<p class="back-link"><a href="/seminar/">戻る</a></p>
{% for lecture in lectures %}
<p><a href="/doc/{{ seminar.uuid }}/{{ lecture.uuid }}" class="title">{{ lecture.title }}</a></p>
{% endfor %}

{% endblock %}