{% extends "layout.html" %}

{% block title %}講座一覧 - マネージャーページ{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block content %}
<h1>講座一覧 - マネージャーページ</h1>
<p>使用する機能を選択してください。</p>
<p class="back-link"><a href="/manager">戻る</a></p>

<p><a href="/manager/progress/{{ seminar.uuid }}" class="title">進捗管理</a></p>
<p class="description">参加者の進捗状況を表示します。</p>
<p><a href="/manager/request/{{ seminar.uuid }}" class="title">リクエスト管理</a></p>
<p class="description">参加者のリクエスト状況を表示します。</p>
<p><a href="/manager/request/realtime/{{ seminar.uuid }}" class="title">リクエストリアルタイム情報</a></p>
<p class="description">リクエストのリアルタイム情報を表示します。</p>
{% endblock %}