{% extends "layout.html" %}

{% block title %}印刷{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block content %}
<h1>印刷</h1>
<p>印刷する講座を選択してください。</p>
<p class="back-link"><a href="/">戻る</a></p>
{% for seminar in seminars %}
<p><a href="/print/{{ seminar.uuid }}" class="title">{{ seminar.title }}</a></p>
<p class="description">{{ seminar.description }}</p>
{% endfor %}

{% endblock %}